In [1]:
a=1
b=2
a+b

3

In [4]:
a='970702-1234567'
a[0:6]

'970702'

In [8]:
a='20010331Rainiy'
date=a[:8]
weather=a[8:]
print(date)
print(weather)

20010331
Rainiy

In [25]:
a='Pithon'    ### a[1]='y'는 안됨
new=a[0]+'y'+a[2:] 
print(new)

Python

In [26]:
a=[1,2,['a','b',['Life','is']]]
a[2][2][0]

'Life'

In [29]:
국어=80
영어=75
수학=55

(국어+영어+수학)/3

70.0

In [31]:
num=[1,4,7,132]
for n in num:
    if n%2==0:
        print(n,"는 짝수")  ### print("{}는 짝수",format(n))
    else:
        print(n,"는 홀수")

1 는 홀수
4 는 짝수
7 는 홀수
132 는 짝수