In [1]:
temp=2

In [2]:
print(temp)

2

In [3]:
temp

2

In [4]:
tempa

NameError: name 'tempa' is not defined

In [ ]:
a=7
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)

In [ ]:
type(a)

In [ ]:
type(2.0)

In [ ]:
a=7 ; b=3
a//b #몫구하기

In [ ]:
a%b #나머지구하기

In [ ]:
print(a**b)

In [ ]:
7*7*7

In [ ]:
print('python is easy')

In [ ]:
temp='python is easy'
print(temp)
temp

In [ ]:
tempa="1"
print(tempa)
tempa

In [ ]:
a=7

In [ ]:
b='7'

In [ ]:
len(temp)

In [ ]:
'python' + 'is easy'

In [ ]:
'python ' + 'is easy'

In [ ]:
a='python '
b='is easy'
a+b

In [ ]:
type(a+b)

In [ ]:
print(temp)

In [ ]:
temp[3]

In [ ]:
temp[0:5]

In [ ]:
temp[7:9]

In [ ]:
temp[3:]

In [ ]:
a
b
#print없이 여러개를 출력X. 맨 마지막 것만 출력됨.

In [ ]:
i=2000
if i%100 == 0:
    print("yes")
else:
    print("no")

In [ ]:
temp.split() #shift + tab

In [ ]:
temp.split('s')

In [ ]:
temp2='python, java, R, SAS'
temp2.split(',')

In [ ]:
temp2

In [ ]:
temp3=temp2.split(',')
print(temp3)

In [ ]:
temp4=','.join(temp3)
print(temp4)

In [ ]:
print(temp3)
print(temp4)
print("temp3 =", len(temp3))
print("temp4 =", len(temp4))

In [ ]:
number=[1,2,3]
print(number)
print(number[0])

In [ ]:
number=['one','two','three','four']
print(number)

In [ ]:
number_tuple=('one','two','three','four')
print(number_tuple)

In [ ]:
','.join(number_tuple)

In [ ]:
print(number)
print(number_tuple)

In [ ]:
print(number[1])
number[2:4]

In [ ]:
print(number_tuple[1])
number_tuple[2:4]

In [ ]:
number[::2]

In [ ]:
number=['one','two','three','four']
number[0]="first"
print(number)

In [ ]:
number[3]="4"
print(number)

In [ ]:
number=['one','two','three','four']
number.append('five')
print(number)

In [ ]:
del number[1]
print(number)

In [ ]:
number.remove('three')
print(number)

In [ ]:
number1=['one','two','three','four']
number2=['six','seven','eight','nine']
number1.extend(number2)
print(number1)

In [ ]:
number=['one','two','three','four']
newnumber=sorted(number)
print(newnumber)
print(number)

number=['one','two','three','four']
number.sort()

In [ ]:
number=['one','two','three','four']
number.sort()
print(number)

In [ ]:
number=[1,2,3,4]
number.sort(reverse=True)
print(number)

In [ ]:
number=(1,2,3,4)
print(number)
type(number)

In [ ]:
number[1]=4

In [ ]:
fruit_price = {'apple':3500, 'peer':2500, 'cherry':5000}
fruit_price['peer']

In [ ]:
number_list=['one','two','three']
tuple(number_list)

In [ ]:
fruit_price=[['apple',3500],['peer',2500],['cherry',5000]]

In [ ]:
fruit_price=dict(fruit_price)

In [ ]:
print(fruit_price)
print(fruit_price['apple'])
fruit_price.keys()

In [ ]:
school_class={1:['mina','jane','mark'],2:['peter','pay','parker'],3:['pay','joy','conan']}

In [ ]:
school_class.keys()

In [ ]:
school_class[2]

In [ ]:
school_class.get(2)

In [ ]:
school_class.values()

In [ ]:
school_class.items()

In [ ]:
print(fruit_price)

In [ ]:
others={'banana':3200, 'grape':2000}
fruit_price.update(others)
print(fruit_price)

In [ ]:
print(school_class)

In [ ]:
other_class={3:['john','eric','terry']}
school_class.update(other_class)
print(school_class)

In [ ]:
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
del fruit_price['apple']
print(fruit_price)

In [ ]:
school_class={1:['mina','jane','mark'],2:['peter','pay','parker']}
school_class.pop(2)
print(school_class)

In [ ]:
a = 10
b = 20 
c = 30

a == b # =는 할당연산자이므로 ==로 사용하기로 약속

In [ ]:
print(a!=b)
print(a<b)
print(a>b)

In [ ]:
a in (10,20,30)

In [ ]:
a = 10
b = 20 
c = 30

a!=b | a>b

In [ ]:
python=0
if(python):
    print("조건문이 참입니다")
else:
    print("조건문이 참이 아닙니다")

In [ ]:
python=False
pycharm=True
if python:
    print("1st True")
elif pycharm:
    print("1st False, 2nd True")
else:
    print("1st False, 2nd False")

In [ ]:
python=0
pycharm=0
if python:
    print("1st True")
elif pycharm:
    print("1st False, 2nd True")
else:
    print("1st False, 2nd False")

In [9]:
int(input("숫자를 입력하세요? "))

숫자를 입력하세요? 34

34

In [15]:
x=int(input("숫자를 입력하세요 "))
print("숫자는 ",x)
if x%2==0:
    print("짝수@@")
else:
    print("홀수!!")

숫자를 입력하세요 34
숫자는  34
짝수@@

In [38]:
score=int(input("점수: "))
if 80<score<=100:
    degree="A"
elif 70<score<=80:
    degree= "B"
elif 60<score<=70:
    degree= "C"
else:
    degree="D"
    
print("점수:",score,"등급:",degree)

점수: 55
점수: 55 등급: D

In [47]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [49]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
#리스트 for 문
fruit = ['apple','peer','cherry']
type(fruit)

list

In [53]:
for i in fruit:
    print(i)

apple
peer
cherry

In [65]:
fruit_price={'apple':3500, 'peer':2500, 'cherry':5000} ##튜플로 구성된 리스트 형태
print(fruit_price.items())
print()

for i in fruit_price.keys():
    print(i)
print()

for x in fruit_price.values():
    print(x)
print()

for p in fruit_price.items():
    print(p) ## 튜플 형태임.

dict_items([('apple', 3500), ('peer', 2500), ('cherry', 5000)])

apple
peer
cherry

3500
2500
5000

('apple', 3500)
('peer', 2500)
('cherry', 5000)

In [59]:
fruit_price={'apple':3500, 'peer':2500, 'cherry':5000}
for p in fruit_price.items():
    print(p[0],p[1]) ##튜플이 아닌 형태로 가져오는 방법

apple 3500
peer 2500
cherry 5000

In [78]:
fruit_price={'apple':["a1","a2"], 'peer':["b1","b2"], 'cherry':["c1","c2"]}
for i in fruit_price.items():
    print("item=",i[0],i[1][0],i[1][1])
    print('*'*30)

item= apple a1 a2
******************************
item= peer b1 b2
******************************
item= cherry c1 c2
******************************

In [84]:
fruit_price={'apple':3500, 'peer':2500, 'cherry':5000, 'grape':2000}
more_3000=[]
less_3000=[]
for i in fruit_price.items():
    if i[1]>=3000:
        more_3000.append(i[0])
    else:
        less_3000.append(i[0])
print(more_3000)
print(less_3000)

['apple', 'cherry']
['peer', 'grape']

In [88]:
fruit_price={'apple':3500, 'peer':2500, 'cherry':5000, 'grape':2000}
high_price=[]
low_price=[]
for i in fruit_price.items():
    if i[1]>=3000:
        high_price.append(i[0])
        
    else:
        low_price.append(i[0])
        
print(high_price)
print(low_price)

['apple', 'cherry']
['peer', 'grape']

In [103]:
fruit_price={'apple':3500, 'peer':2500, 'cherry':5000}
high_price=[]
low_price=[]

for 순서,과일명 in enumerate(fruit_price.items()):
    print("순서:",순서+1)
    print("과일명:",과일명[0])
    print("가격:", 과일명[1])
    print("*"*40)

순서: 1
과일명: apple
가격: 3500
****************************************
순서: 2
과일명: peer
가격: 2500
****************************************
순서: 3
과일명: cherry
가격: 5000
****************************************

In [113]:
fruit_price={'apple':3500, 'peer':2500, 'cherry':5000}
high_price=[]
low_price=[]

for i, item in enumerate(fruit_price.items()):
    print("순번:",i+1,"      항목:",item)
    print("과일:",item[0],"  가격:",item[1])
    print("*"*30)

순번: 1       항목: ('apple', 3500)
과일: apple   가격: 3500
******************************
순번: 2       항목: ('peer', 2500)
과일: peer   가격: 2500
******************************
순번: 3       항목: ('cherry', 5000)
과일: cherry   가격: 5000
******************************

In [118]:
score=[50,85,97,30,88]
#점수와 등급을 출력하세요.
for i in score:
    if i>80:
        degree="A"       
    elif 70<i<=80:
        degree="B"
    elif 76<i<=70:
        degree="C"
    else:
        degree="D"
    print("점수= ",i," 등급= ",degree)

점수=  50  등급=  D
점수=  85  등급=  A
점수=  97  등급=  A
점수=  30  등급=  D
점수=  88  등급=  A

In [119]:
fruit=open('C:/wonyoung/fruit.txt','wt')
fruit_price={'apple':3500, 'peer':2500, 'cherry':5000}
for item in fruit_price.items():
    print(item,file=fruit)
fruit.close()

In [140]:
fruit=open('C:/wonyoung/fruit2a.txt','wt')
fruit.write('apple 3500')
fruit.write('peer 2500')
fruit.write('cherry 5000') ### \n은 한 줄 띄기로 저장이 됨
fruit.close()

In [163]:
import csv
with open('C:/wonyoung/fruit.csv','w',newline='') as fruit:
    writer=csv.writer(fruit,delimiter=',')
    writer.writerow(['apple'])
    writer.writerow(['peer'])
    writer.writerow(['cherry'])
    writer.writerow(['banana'])
    writer.writerow(['peach'])

In [171]:
fruit_path = open('c:/wonyoung/fruit.txt','rt')

fruit = fruit_path.readlines()
print(fruit)

["('apple', 3500)\n", "('peer', 2500)\n", "('cherry', 5000)\n"]

In [172]:
f=open('C:/wonyoung/fruit.csv','rt')
csvRead = csv.reader(f)
fruit=[]
for i in csvRead:
    fruit.append(i)
    print(i)
print("fruit = ", fruit)

['apple']
['peer']
['cherry']
['banana']
['peach']
fruit =  [['apple'], ['peer'], ['cherry'], ['banana'], ['peach']]