In [94]:
my_key='BHS1se%2B3loQRJoDAFuG84hXDgqbhriXiPt5esm1EhRrWfqegXJ%2FP17NnaWDnH6F23nDGG8FZ9rMqYaCnr4AJdw%3D%3D'

In [23]:
# 반경내 상권조회
url1="http://apis.data.go.kr/B553077/api/open/sdsc/"
url2="storeZoneInRadius?radius=500&cx=127.004528&cy=37.567538&ServiceKey="
url3="&type=json"

In [24]:
url= url1 + url2 + my_key + url3
url    # 딕셔너리 형태

'http://apis.data.go.kr/B553077/api/open/sdsc/storeZoneInRadius?radius=500&cx=127.004528&cy=37.567538&ServiceKey=BHS1se%2B3loQRJoDAFuG84hXDgqbhriXiPt5esm1EhRrWfqegXJ%2FP17NnaWDnH6F23nDGG8FZ9rMqYaCnr4AJdw%3D%3D&type=json'

In [25]:
import urllib.request
res = urllib.request.urlopen(url)
res

In [26]:
json_str=res.read().decode('utf-8')  #한글이 깨져 나오는 걸 utf-8로 불러 옴, str형태.
json_str

'{\n\t"header" : {\n\t\t"description" : "소상공인시장진흥공단 주요상권"\n\t\t,"resultCode" : "00"\n\t\t,"resultMsg" : "NORMAL SERVICE"\n\t},\n\t"body" : {\n\t\t\t"items" : [\n\t\t\t\t{\n\t\t\t\t"trarNo" : 2214\n\t\t\t\t,"mainTrarNm" : "을지로4가역"\n\t\t\t\t,"ctprvnCd" : "11"\n\t\t\t\t,"ctprvnNm" : "서울특별시"\n\t\t\t\t,"signguCd" : "11140"\n\t\t\t\t,"signguNm" : "중구"\n\t\t\t\t,"trarArea" : 88434.9\n\t\t\t\t,"coordNum" : 8\n\t\t\t\t,"coords" : "POLYGON ((126.999081 37.566789, 127.002102 37.566937, 127.001981 37.568644, 127.001871 37.568655, 127.001873 37.569521, 126.998065 37.568812, 126.998213 37.566753, 126.999081 37.566789))"\n\t\t\t\t,"stdrDt" : "2015-12-17"\n\t\t\t\t}\n\t\t\t\t,{\n\t\t\t\t"trarNo" : 2216\n\t\t\t\t,"mainTrarNm" : "동대문시장"\n\t\t\t\t,"ctprvnCd" : "11"\n\t\t\t\t,"ctprvnNm" : "서울특별시"\n\t\t\t\t,"signguCd" : "11140"\n\t\t\t\t,"signguNm" : "중구"\n\t\t\t\t,"trarArea" : 68658\n\t\t\t\t,"coordNum" : 15\n\t\t\t\t,"coords" : "POLYGON ((127.009453 37.568775, 127.009445 37.569396, 127.009558 37.569397, 127.009543 37.569686, 127.00659 37.569553, 127.006688 37.568112, 127.007709 37.567931, 127.007098 37.567124, 127.006951 37.56706, 127.006146 37.56717, 127.005929 37.566438, 127.007632 37.56611, 127.008198 37.566935, 127.008107 37.566979, 127.009453 37.568775))"\n\t\t\t\t,"stdrDt" : "2015-12-17"\n\t\t\t\t}\n\t\t\t\t,{\n\t\t\t\t"trarNo" : 2207\n\t\t\t\t,"mainTrarNm" : "동대문역사문화공원역"\n\t\t\t\t,"ctprvnCd" : "11"\n\t\t\t\t,"ctprvnNm" : "서울특별시"\n\t\t\t\t,"signguCd" : "11140"\n\t\t\t\t,"signguNm" : "중구"\n\t\t\t\t,"trarArea" : 81499.1\n\t\t\t\t,"coordNum" : 8\n\t\t\t\t,"coords" : "POLYGON ((127.007565 37.565945, 127.004846 37.566394, 127.002877 37.566759, 127.002341 37.566737, 127.00252 37.5647, 127.004682 37.564852, 127.007062 37.564448, 127.007565 37.565945))"\n\t\t\t\t,"stdrDt" : "2015-12-17"\n\t\t\t\t}\n\t\t\t\t,{\n\t\t\t\t"trarNo" : 2226\n\t\t\t\t,"mainTrarNm" : "동대문시장"\n\t\t\t\t,"ctprvnCd" : "11"\n\t\t\t\t,"ctprvnNm" : "서울특별시"\n\t\t\t\t,"signguCd" : "11110"\n\t\t\t\t,"signguNm" : "종로구"\n\t\t\t\t,"trarArea" : 82364.6\n\t\t\t\t,"coordNum" : 28\n\t\t\t\t,"coords" : "POLYGON ((127.009388 37.570565, 127.008984 37.571182, 127.008537 37.57103, 127.006426 37.570998, 127.00658 37.570351, 127.006482 37.570257, 127.006356 37.570327, 127.006198 37.57099, 127.005964 37.570986, 127.005915 37.570267, 127.005804 37.570193, 127.005691 37.570283, 127.005737 37.570983, 127.005376 37.570977, 127.005356 37.570376, 127.005244 37.570291, 127.00513 37.570373, 127.005149 37.570973, 127.003561 37.570947, 127.003571 37.570412, 127.003461 37.570336, 127.003348 37.570409, 127.003335 37.570944, 127.002014 37.570911, 127.002118 37.569718, 127.006712 37.569739, 127.009542 37.569875, 127.009388 37.570565))"\n\t\t\t\t,"stdrDt" : "2015-12-17"\n\t\t\t\t}\n\t\t\t\t,{\n\t\t\t\t"trarNo" : 2225\n\t\t\t\t,"mainTrarNm" : "서울 종로구 종로5가역_1"\n\t\t\t\t,"ctprvnCd" : "11"\n\t\t\t\t,"ctprvnNm" : "서울특별시"\n\t\t\t\t,"signguCd" : "11110"\n\t\t\t\t,"signguNm" : "종로구"\n\t\t\t\t,"trarArea" : 50246.7\n\t\t\t\t,"coordNum" : 20\n\t\t\t\t,"coords" : "POLYGON ((127.001795 37.57082, 127.000088 37.570774, 127.000052 37.570281, 126.999763 37.57022, 126.99964 37.570323, 126.999836 37.570406, 126.999859 37.570757, 126.999321 37.570717, 126.999367 37.570303, 126.999265 37.570221, 126.999145 37.570287, 126.999096 37.5707, 126.999078 37.570524, 126.99887 37.570325, 126.998761 37.570381, 126.998725 37.570672, 126.997866 37.570624, 126.998052 37.568996, 127.001892 37.569705, 127.001795 37.57082))"\n\t\t\t\t,"stdrDt" : "2015-12-17"\n\t\t\t\t}\n\t\t\t]\n\t}\n}\n'

In [27]:
import json
json_object = json.loads(json_str)   # json_str라는 변수에 저장된 문자열을 json파일로 엶
json_object

{'header': {'description': '소상공인시장진흥공단 주요상권',
  'resultCode': '00',
  'resultMsg': 'NORMAL SERVICE'},
 'body': {'items': [{'trarNo': 2214,
    'mainTrarNm': '을지로4가역',
    'ctprvnCd': '11',
    'ctprvnNm': '서울특별시',
    'signguCd': '11140',
    'signguNm': '중구',
    'trarArea': 88434.9,
    'coordNum': 8,
    'coords': 'POLYGON ((126.999081 37.566789, 127.002102 37.566937, 127.001981 37.568644, 127.001871 37.568655, 127.001873 37.569521, 126.998065 37.568812, 126.998213 37.566753, 126.999081 37.566789))',
    'stdrDt': '2015-12-17'},
   {'trarNo': 2216,
    'mainTrarNm': '동대문시장',
    'ctprvnCd': '11',
    'ctprvnNm': '서울특별시',
    'signguCd': '11140',
    'signguNm': '중구',
    'trarArea': 68658,
    'coordNum': 15,
    'coords': 'POLYGON ((127.009453 37.568775, 127.009445 37.569396, 127.009558 37.569397, 127.009543 37.569686, 127.00659 37.569553, 127.006688 37.568112, 127.007709 37.567931, 127.007098 37.567124, 127.006951 37.56706, 127.006146 37.56717, 127.005929 37.566438, 127.007632 37.56611, 127.008198 37.566935, 127.008107 37.566979, 127.009453 37.568775))',
    'stdrDt': '2015-12-17'},
   {'trarNo': 2207,
    'mainTrarNm': '동대문역사문화공원역',
    'ctprvnCd': '11',
    'ctprvnNm': '서울특별시',
    'signguCd': '11140',
    'signguNm': '중구',
    'trarArea': 81499.1,
    'coordNum': 8,
    'coords': 'POLYGON ((127.007565 37.565945, 127.004846 37.566394, 127.002877 37.566759, 127.002341 37.566737, 127.00252 37.5647, 127.004682 37.564852, 127.007062 37.564448, 127.007565 37.565945))',
    'stdrDt': '2015-12-17'},
   {'trarNo': 2226,
    'mainTrarNm': '동대문시장',
    'ctprvnCd': '11',
    'ctprvnNm': '서울특별시',
    'signguCd': '11110',
    'signguNm': '종로구',
    'trarArea': 82364.6,
    'coordNum': 28,
    'coords': 'POLYGON ((127.009388 37.570565, 127.008984 37.571182, 127.008537 37.57103, 127.006426 37.570998, 127.00658 37.570351, 127.006482 37.570257, 127.006356 37.570327, 127.006198 37.57099, 127.005964 37.570986, 127.005915 37.570267, 127.005804 37.570193, 127.005691 37.570283, 127.005737 37.570983, 127.005376 37.570977, 127.005356 37.570376, 127.005244 37.570291, 127.00513 37.570373, 127.005149 37.570973, 127.003561 37.570947, 127.003571 37.570412, 127.003461 37.570336, 127.003348 37.570409, 127.003335 37.570944, 127.002014 37.570911, 127.002118 37.569718, 127.006712 37.569739, 127.009542 37.569875, 127.009388 37.570565))',
    'stdrDt': '2015-12-17'},
   {'trarNo': 2225,
    'mainTrarNm': '서울 종로구 종로5가역_1',
    'ctprvnCd': '11',
    'ctprvnNm': '서울특별시',
    'signguCd': '11110',
    'signguNm': '종로구',
    'trarArea': 50246.7,
    'coordNum': 20,
    'coords': 'POLYGON ((127.001795 37.57082, 127.000088 37.570774, 127.000052 37.570281, 126.999763 37.57022, 126.99964 37.570323, 126.999836 37.570406, 126.999859 37.570757, 126.999321 37.570717, 126.999367 37.570303, 126.999265 37.570221, 126.999145 37.570287, 126.999096 37.5707, 126.999078 37.570524, 126.99887 37.570325, 126.998761 37.570381, 126.998725 37.570672, 126.997866 37.570624, 126.998052 37.568996, 127.001892 37.569705, 127.001795 37.57082))',
    'stdrDt': '2015-12-17'}]}}

In [28]:
import pandas as pd
from pandas.io.json import json_normalize

In [29]:
json_object['body']['items']   # body 중 items만 가져옴

[{'trarNo': 2214,
  'mainTrarNm': '을지로4가역',
  'ctprvnCd': '11',
  'ctprvnNm': '서울특별시',
  'signguCd': '11140',
  'signguNm': '중구',
  'trarArea': 88434.9,
  'coordNum': 8,
  'coords': 'POLYGON ((126.999081 37.566789, 127.002102 37.566937, 127.001981 37.568644, 127.001871 37.568655, 127.001873 37.569521, 126.998065 37.568812, 126.998213 37.566753, 126.999081 37.566789))',
  'stdrDt': '2015-12-17'},
 {'trarNo': 2216,
  'mainTrarNm': '동대문시장',
  'ctprvnCd': '11',
  'ctprvnNm': '서울특별시',
  'signguCd': '11140',
  'signguNm': '중구',
  'trarArea': 68658,
  'coordNum': 15,
  'coords': 'POLYGON ((127.009453 37.568775, 127.009445 37.569396, 127.009558 37.569397, 127.009543 37.569686, 127.00659 37.569553, 127.006688 37.568112, 127.007709 37.567931, 127.007098 37.567124, 127.006951 37.56706, 127.006146 37.56717, 127.005929 37.566438, 127.007632 37.56611, 127.008198 37.566935, 127.008107 37.566979, 127.009453 37.568775))',
  'stdrDt': '2015-12-17'},
 {'trarNo': 2207,
  'mainTrarNm': '동대문역사문화공원역',
  'ctprvnCd': '11',
  'ctprvnNm': '서울특별시',
  'signguCd': '11140',
  'signguNm': '중구',
  'trarArea': 81499.1,
  'coordNum': 8,
  'coords': 'POLYGON ((127.007565 37.565945, 127.004846 37.566394, 127.002877 37.566759, 127.002341 37.566737, 127.00252 37.5647, 127.004682 37.564852, 127.007062 37.564448, 127.007565 37.565945))',
  'stdrDt': '2015-12-17'},
 {'trarNo': 2226,
  'mainTrarNm': '동대문시장',
  'ctprvnCd': '11',
  'ctprvnNm': '서울특별시',
  'signguCd': '11110',
  'signguNm': '종로구',
  'trarArea': 82364.6,
  'coordNum': 28,
  'coords': 'POLYGON ((127.009388 37.570565, 127.008984 37.571182, 127.008537 37.57103, 127.006426 37.570998, 127.00658 37.570351, 127.006482 37.570257, 127.006356 37.570327, 127.006198 37.57099, 127.005964 37.570986, 127.005915 37.570267, 127.005804 37.570193, 127.005691 37.570283, 127.005737 37.570983, 127.005376 37.570977, 127.005356 37.570376, 127.005244 37.570291, 127.00513 37.570373, 127.005149 37.570973, 127.003561 37.570947, 127.003571 37.570412, 127.003461 37.570336, 127.003348 37.570409, 127.003335 37.570944, 127.002014 37.570911, 127.002118 37.569718, 127.006712 37.569739, 127.009542 37.569875, 127.009388 37.570565))',
  'stdrDt': '2015-12-17'},
 {'trarNo': 2225,
  'mainTrarNm': '서울 종로구 종로5가역_1',
  'ctprvnCd': '11',
  'ctprvnNm': '서울특별시',
  'signguCd': '11110',
  'signguNm': '종로구',
  'trarArea': 50246.7,
  'coordNum': 20,
  'coords': 'POLYGON ((127.001795 37.57082, 127.000088 37.570774, 127.000052 37.570281, 126.999763 37.57022, 126.99964 37.570323, 126.999836 37.570406, 126.999859 37.570757, 126.999321 37.570717, 126.999367 37.570303, 126.999265 37.570221, 126.999145 37.570287, 126.999096 37.5707, 126.999078 37.570524, 126.99887 37.570325, 126.998761 37.570381, 126.998725 37.570672, 126.997866 37.570624, 126.998052 37.568996, 127.001892 37.569705, 127.001795 37.57082))',
  'stdrDt': '2015-12-17'}]

In [55]:
body=json_object['body']['items'] 
df=json_normalize(json_object['body']['items'])  # json_normalize는 pandas에서 온 함수 -> DataFrame 형태로 추출해줌.
df

<ipython-input-55-90666a152105>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df=json_normalize(json_object['body']['items'])  # json_normalize는 pandas에서 온 함수 -> DataFrame 형태로 추출해줌.

,trarNo,mainTrarNm,ctprvnCd,ctprvnNm,signguCd,signguNm,trarArea,coordNum,coords,stdrDt
0,2214,을지로4가역,11,서울특별시,11140,중구,88434.9,8,"POLYGON ((126.999081 37.566789, 127.002102 37....",2015-12-17
1,2216,동대문시장,11,서울특별시,11140,중구,68658.0,15,"POLYGON ((127.009453 37.568775, 127.009445 37....",2015-12-17
2,2207,동대문역사문화공원역,11,서울특별시,11140,중구,81499.1,8,"POLYGON ((127.007565 37.565945, 127.004846 37....",2015-12-17
3,2226,동대문시장,11,서울특별시,11110,종로구,82364.6,28,"POLYGON ((127.009388 37.570565, 127.008984 37....",2015-12-17
4,2225,서울 종로구 종로5가역_1,11,서울특별시,11110,종로구,50246.7,20,"POLYGON ((127.001795 37.57082, 127.000088 37.5...",2015-12-17

In [56]:
df.columns=['상권번호','상권명','시도코드','시도명','시군구코드','시군구명','면적','좌표개수','좌표값','데이터기준일자']
df

,상권번호,상권명,시도코드,시도명,시군구코드,시군구명,면적,좌표개수,좌표값,데이터기준일자
0,2214,을지로4가역,11,서울특별시,11140,중구,88434.9,8,"POLYGON ((126.999081 37.566789, 127.002102 37....",2015-12-17
1,2216,동대문시장,11,서울특별시,11140,중구,68658.0,15,"POLYGON ((127.009453 37.568775, 127.009445 37....",2015-12-17
2,2207,동대문역사문화공원역,11,서울특별시,11140,중구,81499.1,8,"POLYGON ((127.007565 37.565945, 127.004846 37....",2015-12-17
3,2226,동대문시장,11,서울특별시,11110,종로구,82364.6,28,"POLYGON ((127.009388 37.570565, 127.008984 37....",2015-12-17
4,2225,서울 종로구 종로5가역_1,11,서울특별시,11110,종로구,50246.7,20,"POLYGON ((127.001795 37.57082, 127.000088 37.5...",2015-12-17

In [60]:
df1=df[['상권명','시도코드','시군구코드','데이터기준일자']]
df1

              상권명 시도코드  시군구코드     데이터기준일자
0          을지로4가역   11  11140  2015-12-17
1           동대문시장   11  11140  2015-12-17
2      동대문역사문화공원역   11  11140  2015-12-17
3           동대문시장   11  11110  2015-12-17
4  서울 종로구 종로5가역_1   11  11110  2015-12-17

In [68]:
url='http://apis.data.go.kr/B553077/api/open/sdsc/storeZoneInAdmi?divId=adongCd&key=1168069000&ServiceKey=' + my_key + url3
url

'http://apis.data.go.kr/B553077/api/open/sdsc/storeZoneInAdmi?divId=adongCd&key=1168069000&ServiceKey=BHS1se%2B3loQRJoDAFuG84hXDgqbhriXiPt5esm1EhRrWfqegXJ%2FP17NnaWDnH6F23nDGG8FZ9rMqYaCnr4AJdw%3D%3D&type=json'

In [73]:
import urllib.request
res = urllib.request.urlopen(url)
res

In [74]:
json_str=res.read().decode('utf-8')
json_str

'{\n\t"header" : {\n\t\t"description" : "소상공인시장진흥공단 주요상권"\n\t\t,"resultCode" : "00"\n\t\t,"resultMsg" : "NORMAL SERVICE"\n\t},\n\t"body" : {\n\t\t\t"items" : [\n\t\t\t\t{\n\t\t\t\t"trarNo" : 1784\n\t\t\t\t,"mainTrarNm" : "포이사거리"\n\t\t\t\t,"ctprvnCd" : "11"\n\t\t\t\t,"ctprvnNm" : "서울특별시"\n\t\t\t\t,"signguCd" : "11680"\n\t\t\t\t,"signguNm" : "강남구"\n\t\t\t\t,"trarArea" : 19816.5\n\t\t\t\t,"coordNum" : 13\n\t\t\t\t,"coords" : "POLYGON ((127.045483 37.477389, 127.045158 37.478072, 127.04694 37.478392, 127.046881 37.478599, 127.044704 37.478194, 127.04518 37.477216, 127.047481 37.474991, 127.047784 37.475182, 127.046868 37.476058, 127.047227 37.476304, 127.046929 37.47659, 127.046582 37.476353, 127.045483 37.477389))"\n\t\t\t\t,"stdrDt" : "2015-12-17"\n\t\t\t\t}\n\t\t\t]\n\t}\n}\n'

In [76]:
json_object=json.loads(json_str)
json_object

{'header': {'description': '소상공인시장진흥공단 주요상권',
  'resultCode': '00',
  'resultMsg': 'NORMAL SERVICE'},
 'body': {'items': [{'trarNo': 1784,
    'mainTrarNm': '포이사거리',
    'ctprvnCd': '11',
    'ctprvnNm': '서울특별시',
    'signguCd': '11680',
    'signguNm': '강남구',
    'trarArea': 19816.5,
    'coordNum': 13,
    'coords': 'POLYGON ((127.045483 37.477389, 127.045158 37.478072, 127.04694 37.478392, 127.046881 37.478599, 127.044704 37.478194, 127.04518 37.477216, 127.047481 37.474991, 127.047784 37.475182, 127.046868 37.476058, 127.047227 37.476304, 127.046929 37.47659, 127.046582 37.476353, 127.045483 37.477389))',
    'stdrDt': '2015-12-17'}]}}

In [79]:
df=json_normalize(json_object['body']['items'])
df

<ipython-input-79-731f2072fd6b>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df=json_normalize(json_object['body']['items'])

,trarNo,mainTrarNm,ctprvnCd,ctprvnNm,signguCd,signguNm,trarArea,coordNum,coords,stdrDt
0,1784,포이사거리,11,서울특별시,11680,강남구,19816.5,13,"POLYGON ((127.045483 37.477389, 127.045158 37....",2015-12-17

In [81]:
df.columns=['상권번호','상권명','시도코드','시도명','시군구코드','시군구명','면적','좌표개수','좌표값','데이터기준일자']
df

,상권번호,상권명,시도코드,시도명,시군구코드,시군구명,면적,좌표개수,좌표값,데이터기준일자
0,1784,포이사거리,11,서울특별시,11680,강남구,19816.5,13,"POLYGON ((127.045483 37.477389, 127.045158 37....",2015-12-17